html{
    font-size: 16px;
    font-family: "Parkinsans", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px ;
    color: black;
    padding: 10px 0px;
}
header .logo{
    height: 100px;
    width: auto; 
}
header nav{
    display: flex;
    flex:1;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
}
header nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
header nav a:hover{
    color: red;
}
header .user-control-panel{
   display: flex;
   align-items: center;
   gap: 1rem;

}
header .search{
   
    
}
header .search img{
    height: 1rem;
    width: auto;
}
.profile{
    width: 75px;

}

