html{
    font-size: 16px;
    font-family: "Parkinsans", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px ;
    color: black;
    padding: 10px 0px;
}
.mobile{
    display: none;
}
header .logo{
    height: 75px;
    width: auto; 
}
header nav{
    display: flex;
    flex:1;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
}
header nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
header nav a:hover{
    color: red;
}
header .user-control-panel{
   display: flex;
   align-items: center;
   gap: 1rem;

}
header .search img{
    height: 1rem;
    width: auto;
}
.profile{
    width: 60px;

}
.hero-content {
    display: flex;
    flex-direction: column;
    padding: 40px; 
    margin: 20px 20px; 
    height: 500px; 
    background-image: url("/Assets/batman.jpg");
    background-size: contain;
    background-position: center;
    border-radius: 50px;
    color:white
}
.hero-content h1{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    margin: 0;
}
.hero-content .stars{
    color: white;
}
.hero-content .maturity-rating{
   
    border: 1px solid red;
    padding: 2px 5px;
}
.hero-content .movie-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-content .ratings{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.movie-details{
    list-style: none;
    padding: 0;
    margin: 0;
}
.movie-details span{
    color: red;
   font-weight: bolder;
}
.play-button {
    width: 200px; 
    max-width: 200px;
    background-color: white;
    color: black;
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}
.popular-movies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 60px;
    border-bottom: 2px solid #ddd; 
}

.section-popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
   
 }
.movie-list{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.playm-button {
   
    width: 200px; 
    max-width: 130px;
    background-color: red;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1rem;

} 
.movie-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px ;
    height:200px;
}
.section-popular a{
    text-decoration: none;
    color: red;
    border: 1px solid black;
    width: 100px;
    height: 20xp;
    text-align: center;
    border-radius: 10px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 50px;
    background-color: #fff; 
    color: #000; 
    
}
.info-bar{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.footer-links {
    display: flex;
    flex-direction: row; 
    gap: 30px; 
    justify-content: flex-start; 
    width: 100%; 
    
}
.footer-links a{
    color: #000;
    text-decoration: none;
}
.linkler-logo img{
    height: 50px;
}
@media(max-width:600px){
    .desktop{
        display: none;
    }
    header{
        display: flex;
        flex-wrap: wrap;
    }
    .mobile{
        display: flex;
        margin: auto;
    }
    .hero-content {
      
        background-size: cover;
       
    }
    .movie-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px;
    }
    .movie-card{
        
        width: 180px ;
        height:180px;
        margin-bottom: 10px;
    }
    .social-media{
        display: flex;
        flex-direction: column;
    }

    
    

}